<html>
	<head>
		<meta name="viewport" content="width=device-width">
	</head>
	<body>
		<video controls="" autoplay="" name="media">
			<source src="../static/video1.mp4" type="video/mp4">
		</video>
		<video controls="" autoplay="" name="media">
			<source src="../static/video2.mp4" type="video/mp4">
		</video>
		<video controls="" autoplay="" name="media">
			<source src="../static/video3.mp4" type="video/mp4">
		</video>
		<video controls="" autoplay="" name="media">
			<source src="../static/video4.mp4" type="video/mp4">
		</video>
		<video controls="" autoplay="" name="media">
			<source src="../static/video5.mp4" type="video/mp4">
		</video>
		<video controls="" autoplay="" name="media">
			<source src="../static/video6.mp4" type="video/mp4">
		</video>
	</body>
</html>